/* Google Fonts - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    --yellow: #faa616;
    --red: #cf1926;
    --green: #09b55d;
    --dark-gray:#464351;
    --pink: #ed594e;
}

.hero {
    background: linear-gradient(to right bottom, var(--yellow) 55%, #ffffff 45%);
    transform: scaleY(1);
    /* backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px); */
    transition: 0.2 all;
}

.hero nav img {
    height: 4rem;
    width: auto;
}

.hero nav span,
.hero .contents .pizza span {
    color: var(--red);
}

.hero nav button, .hero .contents button {
    background-color: var(--red);
}

.hero .contents .pizza {
    min-height: 80vh;
}

@media screen and (max-width: 1024px) {
    .hero .contents .pizza .slogan button {
        min-width: 40%;
    }
}

@media screen and (max-width: 768px) {

    .hero .contents .pizza {
        flex-direction: column-reverse;
    }

    .hero .contents .pizza .slogan {
        text-align: center;
        min-width: 98%;
    }

    .hero .contents .pizza .slogan button {
        margin: 0 auto;
        min-width: 80%;
    }

    .hero .contents .pizza img {
        margin-top: 2rem;
        max-height: 20rem;
    }
}

@media screen and (max-width: 425px) {
    .hero nav img {
        display: none;
    }
}